<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="erp.bbb.CollectMapper">
<select id="list" resultType="collectVO" parameterType="java.lang.Integer">
	<![CDATA[
	select * from(select rownum rnum, t1.* from 
	(select * from marketing_5 order by order_num5 desc)t1) 
	where rnum >= #{start} and rnum <= #{end}
	]]>
</select>
	<select id="search" resultType="collectVO" parameterType="SearchVO">
	<![CDATA[
	select * from(select rownum rnum, t1.* from (select * from marketing_5
	 WHERE order_num5 like '%'||#{search1,jdbcType=VARCHAR}||'%' and customer like '%'||#{search2,jdbcType=VARCHAR}||'%'
	order by order_num5 desc) t1) 
         where rnum >= #{searchstart} and rnum <= #{searchend}
        ]]>	
	</select>
		<select id="searchCnt" resultType="java.lang.Integer" parameterType="SearchVO">
		select count(*) from marketing_5 where order_num5 like '%'||#{search1,jdbcType=VARCHAR}||'%' and customer like '%'||#{search2,jdbcType=VARCHAR}||'%'
	</select>

	<select id="totalCnt" resultType="java.lang.Integer">
		select count(*) from marketing_5
	</select>
	<insert id="insert" parameterType="collectVO">
	INSERT INTO marketing_5 (order_num5,customer,col_kind,evi,bal,leader,regdate,content)VALUES(#{order_num5},#{customer},#{col_kind},#{evi},#{bal},#{leader},sysdate,#{content})
	</insert>
	<update id="update" parameterType="collectVO">
		<![CDATA[
		update marketing_5 set customer = #{customer}, col_kind = #{col_kind}, evi= #{evi},bal = #{bal}, leader = #{leader}, content = #{content}  where order_num5 = #{order_num5}
		]]>
	</update>
	<delete id = "delete" parameterType="collectVO">
		delete from marketing_5 where order_num5 = #{order_num5}
	</delete>
	
	<select id="chk1" resultType="java.lang.String"  parameterType="java.lang.String">
	select crre_name from correpondent where crre_name=#{crre_name}
</select>

<select id="chk2" resultType="java.lang.String"  parameterType="java.lang.String">
	select order_num5 from marketing_5 where order_num5 = #{order_num5}
</select>
</mapper>

